body {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#logo {
	max-width: 75%;
	margin: 0 auto;
}

/*
	object-fit: contain;
		- This property is used to specify how an image or video should be resized to fit its container.
		- The image will be resized to fit inside the container, while maintaining its aspect ratio.
*/